In [1]:
# Here in this ML Project we are going to classify whether a transaction is done by the actual card holder or is it fraud
# Collected the data from Kaggle and since this is a binary classification model we will use Logistic Regression for training our mode

In [3]:
# Now importing the required libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [5]:
dataframe = pd.read_csv('creditcard.csv')
dataframe.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [6]:
dataframe.shape
# Here in this dataframe, in the label column 0-Transaction is legit and 1-Fraud Transaction

(284807, 31)

In [7]:
dataframe.info()
# You can also use dataframe.isnull().sum() to check which columns have null and which columns does not have null

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [9]:
dataframe['Class'].value_counts()
# This is unbalanced dataset because more than 98% of the transactions are legit and it becomes difficult to train a ML model with his
# unbalanced dataset

0    284315
1       492
Name: Class, dtype: int64

In [20]:
# Since this is unbalanced dataset we have to seperate the Legit and Fraudent transactions from the Class Column
Legit_Transactions = dataframe[dataframe.Class==0]
Fraudulent_Transactions = dataframe[dataframe.Class==1]

In [21]:
Legit_Transactions.shape

(284315, 31)

In [22]:
Fraudulent_Transactions.shape

(492, 31)

In [27]:
Legit_Transactions.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [28]:
Fraudulent_Transactions.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [30]:
# If we want to get more insight about our data we can use groupby function
dataframe.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [39]:
# So here in dataframe we have 492 fradulent transactions and 284315 legit transactions. So, we will randomly pick 492 legit 
# transactions and then train our Machine Learning Model
Legit_sample = Legit_Transactions.sample(n=492)
Legit_sample

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
59797,49007.0,-1.246176,-0.022334,2.425572,-0.448378,-1.199708,0.722015,-1.104790,1.110899,1.278171,...,0.129302,0.496895,-0.060224,0.296848,-0.574244,0.913333,-0.153952,0.056382,1.00,0
55491,46965.0,1.354044,-0.115553,0.230076,0.232281,-0.353668,-0.319170,-0.176597,-0.235556,-1.204071,...,-0.613883,-1.274395,0.040066,-0.502685,0.417516,-0.584776,0.055810,0.033688,27.76,0
49453,44066.0,1.092996,0.001743,1.364126,2.729529,-0.688911,0.878755,-0.782107,0.425964,0.365474,...,0.039980,0.396954,-0.170128,0.033216,0.599108,0.219003,0.038321,0.011428,0.00,0
44933,42143.0,-3.622185,1.020881,0.772451,1.728404,-1.348643,0.679241,-1.156078,1.734535,0.840704,...,-0.472836,-0.408322,0.383421,0.226403,0.156449,-0.436217,-0.265791,-0.194123,30.17,0
76027,56362.0,1.046141,-1.568228,0.167386,-2.708640,-1.341998,0.001747,-0.834255,0.201206,0.966410,...,-0.180671,-0.026640,-0.100998,-0.300575,0.377369,-0.702519,0.110933,0.033232,129.98,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237397,149221.0,2.150948,-1.515343,-1.173436,-1.546123,-1.016133,-0.472956,-0.877707,-0.262490,-1.399229,...,-0.115520,0.026374,0.171459,0.616063,-0.144422,-0.196127,-0.002293,-0.029562,98.02,0
234835,148137.0,-2.185162,-1.155462,1.428921,-1.618481,2.954962,0.793304,0.512662,0.220178,0.183589,...,-0.428375,-1.117361,0.420129,-0.856720,0.341987,-0.903330,-0.456513,-0.244388,42.87,0
103884,68834.0,1.159170,0.124333,0.581948,0.507549,-0.374526,-0.325103,-0.143965,0.091887,-0.166009,...,-0.169625,-0.515971,0.183872,0.206914,0.072387,0.095631,-0.019025,0.006590,1.98,0
105539,69578.0,-0.416501,0.867546,1.749148,-0.165564,0.220649,-0.559587,0.816833,-0.164944,-0.585202,...,-0.212891,-0.417281,-0.052579,0.323736,-0.227115,0.023478,0.096839,-0.109349,9.58,0
140518,83763.0,1.355953,0.325611,-0.277826,0.363263,0.319657,-0.269853,0.062671,-0.119456,0.114037,...,-0.378870,-1.079651,-0.044407,-1.054419,0.406363,0.180969,-0.024186,0.016740,1.27,0

In [ ]:
# Now you have to merge these two datasets of Legit and Fradulent Transactions of 492 each

In [49]:
New_dataframe =  pd.concat([Legit_sample,Fraudulent_Transactions],axis=0)
New_dataframe.head()
# We want the datapoints to be added row-wise do we made axis=0 instead of column-wise which is axis=1

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
59797,49007.0,-1.246176,-0.022334,2.425572,-0.448378,-1.199708,0.722015,-1.104790,1.110899,1.278171,...,0.129302,0.496895,-0.060224,0.296848,-0.574244,0.913333,-0.153952,0.056382,1.00,0
55491,46965.0,1.354044,-0.115553,0.230076,0.232281,-0.353668,-0.319170,-0.176597,-0.235556,-1.204071,...,-0.613883,-1.274395,0.040066,-0.502685,0.417516,-0.584776,0.055810,0.033688,27.76,0
49453,44066.0,1.092996,0.001743,1.364126,2.729529,-0.688911,0.878755,-0.782107,0.425964,0.365474,...,0.039980,0.396954,-0.170128,0.033216,0.599108,0.219003,0.038321,0.011428,0.00,0
44933,42143.0,-3.622185,1.020881,0.772451,1.728404,-1.348643,0.679241,-1.156078,1.734535,0.840704,...,-0.472836,-0.408322,0.383421,0.226403,0.156449,-0.436217,-0.265791,-0.194123,30.17,0
76027,56362.0,1.046141,-1.568228,0.167386,-2.708640,-1.341998,0.001747,-0.834255,0.201206,0.966410,...,-0.180671,-0.026640,-0.100998,-0.300575,0.377369,-0.702519,0.110933,0.033232,129.98,0

In [50]:
New_dataframe.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [51]:
New_dataframe['Class'].value_counts()

1    492
0    492
Name: Class, dtype: int64

In [52]:
New_dataframe.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,91195.794715,0.190842,-0.063988,0.065848,0.051366,-0.016008,-0.009840,0.021570,0.041501,0.011122,...,0.008808,-0.008567,0.023001,0.010303,-0.033445,0.067749,0.009825,-0.027987,-0.007353,83.838801
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [58]:
# Now separating the Label from other columns
X = New_dataframe.drop(columns='Class',axis=1)
Y = New_dataframe['Class']

In [61]:
print(X)
print(Y)

            Time        V1        V2        V3        V4        V5        V6  \
59797    49007.0 -1.246176 -0.022334  2.425572 -0.448378 -1.199708  0.722015
55491    46965.0  1.354044 -0.115553  0.230076  0.232281 -0.353668 -0.319170
49453    44066.0  1.092996  0.001743  1.364126  2.729529 -0.688911  0.878755
44933    42143.0 -3.622185  1.020881  0.772451  1.728404 -1.348643  0.679241
76027    56362.0  1.046141 -1.568228  0.167386 -2.708640 -1.341998  0.001747
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
59797  -1.104790  1.110899  1.278171  ... -0.373581  0.129302  0.496895
55491  -0.176597 -0.235556 -1.204071  ... -0.364455 -0.613883 -1.274395
49453  -0.782107  0.425964  0.365474  ... -0.227185  0.039980  0.396954
44933  -1.156078  1.734535  0.840704  ... -0.246348 -0.472836 -0.408322
76027  -0.834255  0.201206  0.966410  ... -0.351739 -0.180671 -0.026640
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
59797  -0.060224  0.296848 -0.574244  0.913333 -0.153952  0.056382    1.00
55491   0.040066 -0.502685  0.417516 -0.584776  0.055810  0.033688   27.76
49453  -0.170128  0.033216  0.599108  0.219003  0.038321  0.011428    0.00
44933   0.383421  0.226403  0.156449 -0.436217 -0.265791 -0.194123   30.17
76027  -0.100998 -0.300575  0.377369 -0.702519  0.110933  0.033232  129.98
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]
59797     0
55491     0
49453     0
44933     0
76027     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [64]:
# Now splitting the data into training and testing
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2,stratify=Y,random_state=2)

In [76]:
# Now training the ML Model
#model = LogisticRegression()
model = LogisticRegression(solver='lbfgs', max_iter=100000000)
model.fit(X_train,Y_train)

LogisticRegression(max_iter=100000000)

In [78]:
# Checking the accuracy of the training dataset
training_model = model.predict(X_train)
training_accuracy = accuracy_score(training_model,Y_train)
print("The accuracy of training data is {}".format(training_accuracy))

The accuracy of training data is 0.9440914866581956

In [79]:
# Now checking the accuracy on test data
testing_model = model.predict(X_test)
testing_accuracy = accuracy_score(testing_model,Y_test)
print("The accuracy of testing data is {}".format(testing_accuracy))

# If we get very less training data accuracy and very high accuracy for test data then the model is Underfitted
# If we get very less testing data accuracy and very high accuracy for traning data then we say that the model is Overfitted

The accuracy of testing data is 0.9238578680203046